@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registration Successful";
}

<div class="container text-center mt-5">

    <h2 id="external-login-title" class="mb-3">Associate Your @Model.ProviderDisplayName Account</h2>
    <hr class="my-4" />

    <img src="~/Customer/imgs/checked.png"
         width="500"
         height="500"
         alt="Registration Successful"
         class="mb-4" />

    <p class="text-success font-weight-bold">
        You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
        You will be logged in automatically and redirected shortly.<br />
    </p>  



    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <p class="text-dark font-weight-bold text-bold">
                Please Ensure Your @Model.ProviderDisplayName Account
            </p>
            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger" role="alert"></div>

                <input asp-for="Input.Email"  class="form-control" autocomplete="email" />
                <span asp-validation-for="Input.Email"></span>
                <button type="submit" class="w-100 btn btn-lg btn-primary mt-3">Confirm</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
