@page
@model LoginModel

<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <h2 class="text-center text-dark h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Log in</h2>

                                <form class="login100-form validate-form" id="account" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                                    <div class="mb-4">
                                        <div class="d-flex flex-row align-items-center">
                                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                <input asp-for="Input.Email" class="form-control" autocomplete="Name" aria-required="true" placeholder="Email" />
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <div class="d-flex flex-row align-items-center">
                                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                            <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="checkbox mb-3">
                                        <label asp-for="Input.RememberMe" class="form-label">
                                            <input class="form-check-input" asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>

                                    <div class="container-login100-form-btn">
                                        <button type="submit" class="w-100 btn btn-lg btn-primary mt-4">Log in</button>
                                    </div>
                                </form>

                                <div class="text-center mt-6" style="margin-top:15px;padding: 20px;">

                                    <span class="text-dark" style="font-weight: bold;">Or Login with</span> <!-- Bold text -->

                                </div>


                                <div class="external-login mt-6 text-center">
                                    <div class="external-login-title">Login with</div>
                                    @if (!((Model.ExternalLogins?.Count ?? 0) == 0))
                                    {
                                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                            <button type="submit" name="provider" value="Google" title="Log in using your Google account" class="btn" style="background-color: #db4437; color: white; padding: 15px 30px; font-size: 1.25rem;">
                                                <i class="fab fa-google fa-lg me-2"></i> Google
                                            </button>
                                            <button type="submit" name="provider" value="Facebook" title="Log in using your Facebook account" class="btn" style="background-color: #165EAB; color: white; padding: 15px 30px; font-size: 1.25rem;">
                                                <i class="fab fa-facebook fa-lg me-2"></i> Facebook
                                            </button>
                                        </form>
                                    }
                                    <div class="text-center p-t-12 mt-3 d-flex justify-content-center align-items-center">
                                        <p class="text-dark m-0">Not a member?&nbsp;</p>
                                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="ml-2"> Sign up now</a>
                                    </div>


                                </div>
                            </div>

                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="~/img/FranshyLogo2.jpg" class="img-fluid" alt="Sample image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
